<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
  
</head>

<body style="display: none;">
  <header>
    <% include header.ejs %>
  </header>
  <main>
    
    
    <div class="container well">
      <div class="row">
        <div class="col-md-12">
          <div >
            <form id='timeForm' action = "" method = "GET">
                Date and Time : 
                  <input type="datetime-local" id="starttime">
                  <input type="datetime-local" id="stoptime">
                  <input type = "submit" value = "Submit" id="daytime_submit">
            </form>
          </div>
        </div> 
      </div>
    </div>
          
      

      <% for(var i=0;i<result.length;i++) {%>
        

        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="row">
              <% if(result[i]!=null && result[i].hasOwnProperty('keys')) {  %>
                  <p class="panel-title"><%= result[i].sensor %> of Team <%= result[i].teamName %> (<%= result[i].teamID %>)</p>
              <% } else { %>
                   <h3 class="panel-title">Error Showing Data</h3>
                <% } %>
            </div>
            <button type="button" class="btn btn-info fullwidth graphBtn" >Open Graph</button>
            <div class="row graph collapse in">
              <canvas id="line<%= result[i].teamID %>" class="line"></canvas>
            </div>
          </div>

          <div class="panel-body">
              <% var tableData = result[i]; %>
              <% var index = result[i].teamID; %>
              <% include sensortable.ejs %>
              <br><br>
          </div>
        <br><br>
        </div>
      <% } %>
   
    
  </main>
  <footer>
    <% include footer.ejs %>
  </footer>
  <script>var frontResult = <%- JSON.stringify(result) %>; </script>
  <script src="/js/moment.js"></script>
  <script src="/js/Chart.min.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>
