<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <div class="row">
      <% if(tableData!=null && tableData.hasOwnProperty('keys')) {  %>
          <h3 class="panel-title"><%= tableData.sensor %> of Team <%= tableData.teamID %></h3>
      <% } else { %>
           <h3 class="panel-title">Error Showing Data</h3>
        <% } %>
    </div>
  </div>


  <div class="panel-body">
    <table class="table table-striped table-bordered table-list">
      <thead>
        <tr>
            <th>Seq</th>
            <% for(var i=0; i < tableData.keys.length; i++) { %>
              <th>
                <%= tableData.keys[i] %>
              </th>
            <% } %>
        </tr> 
      </thead>
      <tbody>
          <% for(var i=0; i < tableData.data.length; i++) { %>
            <tr>
              <td>
                <%= i+1 %>
              </td>
              <% for(var j=0; j < tableData.keys.length; j++) { %>
                <td>
                  <%= tableData.data[i][tableData.keys[j]] %>
                </td>
              <% } %>
            </tr>
          <% } %>
      </tbody>
    </table>

  </div>

</div>
